

<div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="space-evenly center">


<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Source Code</mat-card-title>
        <mat-card-subtitle>Relevant references </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

                <div fxLayout="column"  fxLayoutAlign="center center" >
                        <div>Theia-Cpp-Docker</div>
                        <a href="https://github.com/cppitems/docker" target="_blank">https://github.com/cppitems/docker</a>                       
                    <div>CppItems</div>
                    <a href="https://github.com/cppitems/cppitems" target="_blank">https://github.com/cppitems/cppitems</a>    
                    <div>Webapp</div>
                    <a href="https://github.com/cppitems/webapp" target="_blank">https://github.com/cppitems/webapp</a>   
                    <div>This Website</div>
                    <a href="https://cppitems.github.io" target="_blank">https://cppitems.github.io</a>                                                      
                </div>

    </mat-card-content>
</mat-card>

<mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Developers</mat-card-title>
            <mat-card-subtitle>Members of the  <a href="http://www.iue.tuwien.ac.at" target="_blank">Institue for Microelectronics</a> involved with 360.251</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
    
                    <div fxLayout="column" fxLayoutAlign="center center"  >
                            <a href="http://www.iue.tuwien.ac.at/staff/manstetten" target="_blank">Paul Manstetten</a>
                            <a href="http://www.iue.tuwien.ac.at/staff/klemenschits" target="_blank">Xaver Klemenschits</a>    
                            <a href="http://www.iue.tuwien.ac.at/staff/kampl" target="_blank">Markus Kampl</a>                                                                                           
                    </div>
    
        </mat-card-content>
</mat-card>



</div>

