<div fxLayout="column">
    <div fxLayout="row" fxFlexAlign="start" fxFlexAlign.lg="center" fxFlexAlign.xl="center">
        <!-- <div fxFlex="0 0 750px" fxFlex.md="0 0 750px" fxFlex.sm="0 0 750px" fxFlex.xs="0 0 750px"> -->
        <div fxFlex="0 0 750px" fxFlex.md="0 0 750px" fxFlex.sm="0 0 750px" fxFlex.xs="0 0 750px">
            <div fxLayout="column" fxLayoutGap="7px">
                <app-menubar></app-menubar>
                <router-outlet></router-outlet>
        
            <!-- <div *ngFor="let item of items; let myIndex = index">
                <div>
                        {{item.title}}
                        {{item.subtitle}}
                        {{item.codelink}}
                </div>

            <div class="markdown-preview" [innerHTML]="item.html"></div>

            </div> -->

            </div>
        </div>
    </div>  
</div>


