<mat-card> <div>Full list of items </div>
        <!-- <mat-card-title >Below is a list of CppItems</mat-card-title> -->
<!-- <mat-card-title>Welcome to <a href="https://github.com/cppitems/cppitems" target="_blank">CppItems</a>!</mat-card-title> -->
<div fxLayout="column" fxLayoutGap="10px">

    <div  class="mat-h3">
    </div>
    <!-- <div class="mat-h3">Your browser needs support for WebAssembly, you can check your browser version <a [routerLink]="['/browserinfo']">here</a>!
    </div> -->
    <div class="mat-body-2"></div>
    <mat-divider></mat-divider>

    <!-- <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="space-evenly center"> -->
    <!-- <div fxLayout="row wrap" fxLayoutGap="20px grid" fxLayoutAlign="center start"> -->
        <div *ngFor="let item of cppitemsService.items; let myIndex = index">
                <!-- {{item.title}} {{item.status}} -->
            <!-- <mat-card *ngIf="i<5" class="example-card" > -->
            <ng-container *ngIf="cppitemsService.showStatus >= item.status ">
    
        <mat-card style="padding: 5px;" class="example-card" >
            <!-- <mat-card-header> -->
            <mat-card-title  style="font-size: 20px;" ><a [routerLink]="item.route" style="color: blue">{{item.idx}}</a> {{item.title}}: {{item.subtitle}}</mat-card-title>
            <!-- <mat-card-subtitle></mat-card-subtitle> -->
            <!-- </mat-card-header> -->
            <!-- <img mat-card-image [src]="webworkerService.getImageFilePath(idx)"  alt="processimage"> -->
            <!-- <mat-card-actions>
            <button mat-raised-button (click)="runsimulation(idx)">RUN SIMULATION</button>
            </mat-card-actions> -->
        </mat-card>
        </ng-container>
        </div>
  
    <!-- </div> -->
    <!-- </div> -->
</div>
</mat-card>
      
      
      